<div class="hero min-h-screen bg-base-200 flex flex-col text-base-200" style="background-image: url(<%= asset_path('top.webp') %>);">
  <div class="hero-content text-center my-40">
    <div class="max-w-lg">
      <figure><%= image_tag('top-logo.png') %></figure>
      <p class="py-8 text-xl">バルクアップしたい人をサポートする<br>筋トレ、食事メニューの記録と共有サービス</p>
      <% unless logged_in? %>
      <div class="to-index flex flex-col items-center dropdown dropdown-bottom">
        <label tabindex="0" class="btn">会員登録なしでユーザーの投稿をチェック</label>
        <ul tabindex="0" class="dropdown-content menu p-2 bg-base-300 text-base-content shadow rounded-box w-52">
          <li><%= link_to '筋トレ投稿一覧', workouts_path %></li>
          <li><%= link_to '食事投稿一覧', meals_path %></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
  <div class="hero-content text-center my-12">
    <div>
      <h1 class="text-5xl font-bold my-16">How to use</h1>
      <div class="hero-content flex-col lg:flex-row">
        <%= image_tag 'step1.jpg', size: "400x260", class:"max-w-sm rounded-lg shadow-2xl" %>
        <div class="p-4">
          <h2 class="text-3xl font-bold py-4">Step 1</h2>
          <p>会員登録をして自分のプロフィール（身長、体重など）を登録しよう！</p>
          <p>バルクアップに必要な1日に必要な摂取カロリーを自動で計算します</p>
        </div>
      </div>
      <div class="hero-content flex-col lg:flex-row-reverse">
        <%= image_tag 'step2.jpg', size: "400x260", class:"max-w-sm rounded-lg shadow-2xl" %>
        <div class="p-4">
          <h2 class="text-3xl font-bold py-4">Step 2</h2>
          <p>新規投稿から「筋トレ」or「食事」を選んで記録を投稿しよう！</p>
          <p>メニュー名など自由に登録ができます</p>
        </div>
      </div>
      <div class="hero-content flex-col lg:flex-row">
        <%= image_tag 'step3.jpg', size: "400x260", class:"max-w-sm rounded-lg shadow-2xl" %>
        <div class="p-4">
          <h2 class="text-3xl font-bold py-4">Step 3</h2>
          <p>マイページで日々の記録を確認しよう！</p>
          <p>筋トレメニューの記録や食事メニューの記録を日付ごと確認できます</p>
        </div>
      </div>
      <div class="hero-content flex-col lg:flex-row-reverse">
        <%= image_tag 'step4.jpg', size: "400x260", class:"max-w-sm rounded-lg shadow-2xl" %>
        <div class="p-4">
          <h2 class="text-3xl font-bold py-4">Step 4</h2>
          <p>タイムラインを見て他のユーザーのメニューを取り入れよう！</p>
          <p>バルクアップするためにはマンネリ化を防ぎ、常に新しい刺激を体に与えることが大切です</p>
        </div>
      </div>
      <% unless logged_in? %>
        <button class="btn my-12"><%= link_to '早速はじめてみる（登録ページへ）', new_user_path %></button>
      <% end %>
    </div>
  </div>
</div>

