<div class="container mx-auto px-8 w-full">
  <h1 class="text-5xl font-bold"><%= t '.title' %></h1>
  <%= form_with model: @user, url: profile_path, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <h2 class="mt-5">名前</h2>
    <p><%= @user.name %></p>
    <h2>メールアドレス</h2>
    <p><%= current_user.email %></p>
    <div class="form-control">
      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: "input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :twitter_link%>
      <%= f.url_field :twitter_link, class: "input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :facebook_link%>
      <%= f.url_field :facebook_link, class: "input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :instagram_link%>
      <%= f.url_field :instagram_link, class: "input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :height %>
      <%= f.number_field :height, class: "input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :body_weight %>
      <%= f.number_field :body_weight, class: "input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :age %>
      <%= f.number_field :age, class: "form-control input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :sex %>
      <%= f.select :sex, User.sexes_i18n.invert.map{|key, value| [key, value]}, class: "form-control input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :active_level%>
      <%= f.select :active_level, User.active_levels_i18n.invert.map{|key, value| [key, value]}, class: "form-control input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :target_weight%>
      <%= f.number_field :target_weight, class: "form-control input input-bordered" %>
    </div>
    <div class="form-control">
      <%= f.label :target_date%>
      <%= f.date_field :target_date, class: "form-control input input-bordered" %>
    </div>
    <div class="form-control mt-6">
      <%= f.submit '計算する', class: "btn btn-primary"%>
    </div>
  <% end %>
  <div>
    <div>
      <p class="font-bold">あなたの目標摂取カロリーは１日あたり </p>
      <p class="font-bold text-3xl text-center"><%= @current_user.target_calorie%> <p>
      <p class="font-bold text-right">kcalです</p>
    </div>
    <%= form_with model: current_user, url: profile_path, local: true do |f| %>
    <div class="form-control mt-6">
      <p>カロリーを調整できます</p>
      <%= f.label :adjustment_calorie%>
      <%= f.number_field :adjustment_calorie, class: "form-control input input-bordered" %>
    </div>
    <div class="form-control mt-6">
      <%= f.submit '調整する', class: "btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>

