<% assign_meta_tags title: (t '.title') %>
<div class="p-4 flex flex-col w-full">
  <h1 class="text-xl font-bold"><%= t '.title' %></h1>
  <%= form_with model: @user, url: profile_path, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-control">
      <%= f.label :name, class: "text-xl pt-4 font-bold" %>
      <%= f.text_field :name, class: "input input-bordered" %>
      <%= f.label :email, class: "text-xl pt-4 font-bold" %>
      <%= f.email_field :email, class: "input input-bordered" %>
      <%= f.label :introduction, class: "text-xl pt-4 font-bold" %>
      <%= f.text_area :introduction, class: "textarea textarea-bordered" %>
      <%= f.label :twitter_link, class: "text-xl pt-4 font-bold" %>
      <%= f.url_field :twitter_link, class: "input input-bordered" %>
      <%= f.label :facebook_link, class: "text-xl pt-4 font-bold" %>
      <%= f.url_field :facebook_link, class: "input input-bordered" %>
      <%= f.label :instagram_link, class: "text-xl pt-4 font-bold" %>
      <%= f.url_field :instagram_link, class: "input input-bordered" %>
      <%= f.label :height, class: "text-xl pt-4 font-bold" %>
      <%= f.number_field :height, class: "input input-bordered" %>
      <%= f.label :body_weight, class: "text-xl pt-4 font-bold" %>
      <%= f.number_field :body_weight, class: "input input-bordered" %>
      <%= f.label :age, class: "text-xl pt-4 font-bold" %>
      <%= f.number_field :age, class: "form-control input input-bordered" %>
      <%= f.label :sex, class: "text-xl pt-4 font-bold" %>
      <%= f.select :sex, User.sexes_i18n.invert.map{|key, value| [key, value]}, {}, class: "select select-bordered w-ful" %>
      <%= f.label :active_level, class: "text-xl pt-4 font-bold" %>
      <%= f.select :active_level, User.active_levels_i18n.invert.map{|key, value| [key, value]}, {}, class: "select select-bordered w-ful" %>
      <div class="overflow-x-auto p-4">
        <table class="table w-full">
          <!-- head -->
          <h2>※活動量は以下の表を目安に設定してください</h2>
          <thead>
            <tr>
              <th>活動レベル</th>
              <th>目安</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <th>レベル1</th>
              <td>通勤するなど一般的な活動量</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <th>レベル2</th>
              <td>週1, 2回の軽い運動</td>
            </tr>
            <!-- row 3 -->
            <tr>
              <th>レベル3</th>
              <td>週2, 3回の筋トレなど</td>
            </tr>
            <!-- row 4 -->
            <tr>
              <th>レベル4</th>
              <td>週4, 5回のハードな筋トレなど</td>
            </tr>
            <!-- row 4 -->
            <tr>
              <th>レベル5</th>
              <td>毎日のハードな筋トレなど</td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= f.label :target_weight, class: "text-xl pt-4 font-bold" %>
      <%= f.number_field :target_weight, class: "form-control input input-bordered" %>
      <%= f.label :target_date, class: "text-xl pt-4 font-bold" %>
      <%= f.date_field :target_date, class: "form-control input input-bordered" %>
      <%= f.label :adjustment_calorie ,class: "text-xl pt-4 font-bold"%>
      <p>※ここで摂取カロリーを調整できます。<br>体の変化の様子を見ながら、自動計算の目標カロリーの過不足を調整してください<br>（例）目標カロリーでは増量できないので500kcal追加したい場合など</p>
      <%= f.number_field :adjustment_calorie, class: "form-control input input-bordered" %>
      <%= f.label :avatar, class: "text-xl pt-4 font-bold" %>
      <%= f.file_field :avatar %>
      <%= f.submit '更新する', class: "btn btn-primary my-4"%>
    </div>
    <% end %>
  </div>
</div>

