<div class="container mx-auto px-8 w-full flex flex-row justify-between">
  <div>
    <h2 class="text-xl pt-4 font-bold">名前</h2>
    <p><%=@user.name%></p>
    <h2 class="text-xl pt-4 font-bold">メールアドレス</h2>
    <p><%=@user.email%></p>
    <h2 class="text-xl pt-4 font-bold">自己紹介</h2>
    <p><%=@user.introduction%></p>
    <h2 class="text-xl pt-4 font-bold">Twitter</h2>
    <p><%=@user.twitter_link%></p>
    <h2 class="text-xl pt-4 font-bold">Facebook</h2>
    <p><%=@user.facebook_link%></p>
    <h2 class="text-xl pt-4 font-bold">Instagram</h2>
    <p><%=@user.instagram_link%></p>
  </div>
  <div>
    <h2 class="text-xl pt-4 font-bold">身長</h2>
    <p><%=@user.height%></p>
    <h2 class="text-xl pt-4 font-bold">体重</h2>
    <p><%=@user.body_weight%></p>
    <h2 class="text-xl pt-4 font-bold">年齢</h2>
    <p><%=@user.age%></p>
    <h2 class="text-xl pt-4 font-bold">生まれた時の性別</h2>
    <p><%=@user.sex%></p>
    <h2 class="text-xl pt-4 font-bold">活動レベル</h2>
    <p><%=@user.active_level%></p>
  </div>
  <div>
    <h2 class="text-xl pt-4 font-bold">目標体重</h2>
    <p><%=@user.target_weight%></p>
    <h2 class="text-xl pt-4 font-bold">目標期日</h2>
    <p><%=@user.target_date%></p>
    <h2 class="text-xl pt-4 font-bold">メンテナンスカロリー</h2>
    <p><%=@user.maintenance_calorie%></p>
    <h2 class="text-xl pt-4 font-bold">調整カロリー</h2>
    <p><%=@user.adjustment_calorie%></p>
  </div>
</div>
<div class="text-xl text-center py-6 font-bold">
  <h2 >あなたの目標摂取カロリーは１日あたり</h2>
  <p class="text-amber-700"><%=@user.target_calorie%>kcalです</p>
</div>
<div>
  <h2 class="text-xl pt-4 font-bold">プロフィール画像</h2>
  <%= image_tag @user.avatar.variant(:thumb) if @user.avatar.attached? %>
</div>
<div class="btn btn-primary flex justify-center">
  <%= link_to '編集する', edit_profile_path %>
</div>
<div class="btn btn-secondary flex justify-center">
  <%= link_to (t 'profiles.destroy.delete_an_account'), profile_path, data: { turbo_method: :delete, turbo_confirm: '本当に退会しますか?' } %>
</div>

