<div class="card card-compact h-28 bg-base-100 shadow-xl image-full mx-4 my-2 md:card-side md:w-96">
  <% if workout.workout_images.attached? %>
    <figure><%= image_tag workout.workout_images.last.variant(:thumb) %></figure>
  <% else %>
    <figure><%= image_tag('workout_sample.jpg', size: "400x400") %></figure>
  <% end %>
  <div class="card-body flex flex-row justify-start">
    <div class="w-6/12">
    <%= link_to workout_path(workout.id) do %>
      <h2 class="card-title truncate block w-36"><%= workout.workout_title %></h2>
      <p><%= workout.workout_weight %> kg /<%= workout.repetition_count %> reps /<%= workout.set_count %> sets </p>
      <p><%= workout.workout_date.strftime("%Y/%m/%d") %></p>
    <% end %>
    </div>
    <div class="w-4/12">
      <%=link_to user_path(workout.user) do%>
        <div class="flex flex-col items-center mx-auto">
          <div class="avatar">
            <div class="w-12 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
              <% if workout.user.avatar.attached? %>
              <%= image_tag workout.user.avatar.variant(:thumb) %>
              <% else %>
              <%= image_tag('user_sample.png', size: "400x400") %>
              <% end %>
            </div>
          </div>
          <div class="font-bold items-center">
            <p class="m-2"><%= workout.user.name %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-2/12 flex items-center">
      <%= render 'workout_likes/workout_like_button', workout: workout %>
    </div>
  </div>
</div>

