<% assign_meta_tags title: (t '.title') %>
<div class="m-8 flex flex-col w-full">
  <h1 class="text-xl font-bold"><%= t '.title' %></h1>
    <div class="grid card rounded-box place-items-center">
      <div class="flex max-w-full">
        <div class="avatar max-w-max my-8 mx-4">
          <div class="w-24 h-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar.variant(:thumb) %>
            <% else %>
            <%= image_tag('user_sample.png', size: "400x400") %>
            <% end %>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="m-4">
            <h2 class="font-bold text-lg">ユーザー名</h2>
            <p><%= @user.name %><p>
          </div>
          <h2 class="text-xl font-bold text-amber-700 m-4">
            <% if @user.target_calorie.present? %>
              1日の目標カロリーは <%= @user.target_calorie %> kcalです
            <% else %>
              目標カロリー未設定です
            <% end%>
          </h2>
        </div>
      </div>
    </div> 
    <div class="divider"></div> 
    <div class="grid card rounded-box">
      <div class="flex justify-around">
        <div class="w-2/5 flex flex-col align-center">
          <h2 class="text-xl font-bold my-4 text-center"><%= @workout.workout_date.strftime("%Y年%m月%d日") %></h2>
          <% if @workout.workout_images.attached? %>
            <% @workout.workout_images.each do |workout_image|%>
              <%= image_tag workout_image.variant(:thumb), class: "flex items-center mx-auto" if workout_image.representable? %>
            <% end %>
          <% end %>
        </div>
        <div class="w-3/5 flex flex-col">
          <div class="mx-8 mt-4">
            <h2 class="text-xl font-bold">メニュー名</h2>
            <p class="text-base"><%= @workout.workout_title %></p>
          </div>
          <div class="mx-8 mt-4">
            <h2 class="text-xl font-bold">トレーニング部位</h2>
            <p class="text-base"><%= @workout.body_parts.pluck(:body_part_name).join(' , ') %></p>
          </div>
          <div class="mx-8 mt-4">
            <h2 class="text-xl font-bold">重量 / 回数 / セット数</h2>
            <p class="text-base">
            <%= @workout.workout_weight %> kg /
            <%= @workout.repetition_count %> reps /
            <%= @workout.set_count %> sets 
            </p>
          </div>
          <div class="mx-8 mt-4">
            <h2 class="text-xl font-bold">メモ</h2>
            <p class="text-base md:w-96 break-words"><%= @workout.workout_memo %></p>
          </div>
          <div class="mx-8 mt-4">
          <% if logged_in? && current_user.own?(@workout) %>
            <%=link_to edit_workout_path(@workout), class: "btn btn-active btn-primary" do %>
              <button><%= (t '.to_edit_page') %></button>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








