<%= form_with url: result_path, method: :get, local: true do |f| %>
  <div class="form-control">
    <%= f.label :api_text %>
    <%= f.text_field :api_text, class: "input input-bordered" %>
  </div>
  <div class="form-control mt-6">
    <%= f.submit '翻訳する', class: "btn btn-primary"%>
  </div>
    <% end %>

<h1 class="text-xl font-bold">
<% @response.each do |val|%>
  <%= val %> </br>
<% end %>
</h1>
