<h1 class="text-5xl font-bold"><%= @user.name %>さんの<%= t '.title' %></h1>
<div class="container mx-auto px-8 w-full flex flex-row justify-between">
  <div>
    <% if @workouts.present? %>
      <%= render @workouts %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
  <div>
    <% if @meals.present? %>
      <%= render @meals %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>
