<div class="flex flex-wrap w-full justify-center border-r-8 border-primary-content">
  <ul class="menu bg-base-100">
    <li><%= link_to 'マイページ', user_path(@user.id) %><li>
    <li><%= link_to 'タイムライン', '#' %></li>
    <li><%= link_to 'お気に入り', '#' %></li>
  </ul>
  <ul class="menu bg-base-100 my-8">
    <li><%= link_to '新規投稿作成', new_workout_path %><li>
    <li><%= link_to '下書き一覧', '#' %></li>
  </ul>
  <div class="avatar">
    <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
      <%= image_tag @user.avatar.variant(:thumb) if @user.avatar.attached? %>
    </div>
  </div>
    <ul class="menu bg-base-100 my-8">
    <li><%= link_to 'フォロー/フォロワー', '#' %><li>
  </ul>
</div>
