<div class="card card-compact h-28 bg-base-100 shadow-xl image-full mx-4 my-2 md:card-side md:w-96">
  <% if meal.meal_images.attached? %>
    <figure><%= image_tag meal.meal_images.last.variant(:thumb) %></figure>
  <% else %>
    <figure><%= image_tag('meal_sample.jpg', size: "400x400") %></figure>
  <% end %>
  <div class="card-body flex flex-row justify-start">
    <div class="w-6/12">
    <%= link_to meal_path(meal.id) do %>
      <h2 class="card-title truncate block w-36"><%= meal.meal_details.pluck(:meal_title).join(',') %></h2>
      <p><%= meal.meal_details.pluck(:meal_calorie).sum %> kcal / <%= meal.meal_period_i18n %></p>
      <p><%= meal.meal_date.strftime("%Y年%m月%d日") %></p>
    <% end %>
    </div>
    <div class="w-4/12">
      <%=link_to user_path(meal.user) do%>
        <div class="flex flex-col items-center mx-auto">
          <div class="avatar">
            <div class="w-12 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
              <% if meal.user.avatar.attached? %>
              <%= image_tag meal.user.avatar.variant(:thumb) %>
              <% else %>
              <%= image_tag('user_sample.png', size: "400x400") %>
              <% end %>
            </div>
          </div>
          <div class="font-bold items-center">
            <p class="m-2"><%= meal.user.name %></p>
          </div>
        </div>
      <% end %>
    </div>
    <!-- いいねボタン-->
    <div class="w-2/12 flex items-center">
      <% if meal.liked?(current_user) %>
        <%= link_to meal_like_path(meal.id, MealLike.find_by(meal_id: meal.id, like_id: meal.likes.find_by(user_id: current_user.id).id)), data: { turbo_method: :delete} do %>
          <button class="btn btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-rose-500 stroke-rose-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
            <div class="badge">
              <span><%= meal.likes.count %></span>
            </div>
          </button>
        <% end %>
      <% else %>
        <%= link_to meal_likes_path(meal), data: { turbo_method: :post} do %>
          <button class="btn btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
            <div class="badge">
              <span><%= meal.likes.count %></span>
            </div>
          </button>
        <% end %>
      <% end %>
    </div>
    <!-- いいねボタンここまで-->
  </div>
</div>

