<div class="card card-compact h-28 bg-base-100 shadow-xl image-full m-4 md:card-side md:w-96">
  <% if meal.meal_images.attached? %>
    <figure><%= image_tag meal.meal_images.last.variant(:thumb) %></figure>
  <% else %>
    <figure><%= image_tag('meal_sample.jpg', size: "400x400") %></figure>
  <% end %>
  <%= link_to meal_path(meal.id) do %>
  <div class="card-body flex flex-row items-center justify-around">
    <div>
      <h2 class="card-title"><%= meal.meal_details.pluck(:meal_title).join(',') %></h2>
      <p><%= meal.meal_details.pluck(:meal_calorie).sum %> kcal / <%= meal.meal_period_i18n %></p>
      <p><%= meal.meal_date.strftime("%Y年%m月%d日") %></p>
    </div>
    <div>
      <%=link_to user_path(meal.user) do%>
        <div class="flex flex-col items-center">
          <div class="avatar">
            <div class="w-12 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
              <% if meal.user.avatar.attached? %>
              <%= image_tag meal.user.avatar.variant(:thumb) %>
              <% else %>
              <%= image_tag('user_sample.png', size: "400x400") %>
              <% end %>
            </div>
          </div>
          <div class="font-bold mx-2 items-center">
            <p class="m-2"><%= meal.user.name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

