<div iid="meal-id-<%= meal.id %>" class="m-4">
  <div class="card card-side bg-base-100 shadow-xl  border border-base-300">
    <figure><%= image_tag meal.meal_images.last.variant(:thumb) if meal.meal_images.attached? %></figure>
    <div class="card-body">
      <h2 class="card-title"><%= meal.meal_period_i18n %></h2>
      <p><%=  meal.meal_details.pluck(:meal_title).join(',') %></p>
      <p><%= meal.meal_details.pluck(:meal_calorie).sum %>kcal</p>
      <div class="card-actions justify-center">
        <button class="btn btn-accent btn-wide"><%= link_to '詳細', meal_path(meal.id) %></button>
      </div>
    </div>
  </div>
</div>
