<% assign_meta_tags title: (t '.title') %>
<div class="p-4 flex flex-col w-full">
  <h1 class="text-xl font-bold"><%= t '.title' %></h1>
  <%= turbo_frame_tag 'calorie_search' do %>
    <div>
      <%= render 'calorie_search', response: @response %>
    </div>
  <% end %>
  <div class="mt-6">
    <%= form_with model: @meal_form, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-control">
        <%= f.label :meal_date, class: "text-xl pt-4 font-bold" %>
        <%= f.date_field :meal_date, value: Time.now.strftime("%Y-%m-%d"), class: "input input-bordered" %>

        <%= f.label :meal_period, class: "text-xl pt-4 font-bold" %>
        <%= f.select :meal_period, Meal.meal_periods_i18n.invert.map{|key, value| [key, Meal.meal_periods[value]]}, {}, class: "select select-bordered w-ful" %>

        <%= f.label :meal_type, class: "text-xl pt-4 font-bold" %>
        <%= f.select :meal_type, Meal.meal_types_i18n.invert.map{|key, value| [key, Meal.meal_types[value]]}, {}, class: "select select-bordered w-ful" %>
        <div class="m-2">
          <p >食事メニュー, g数, カロリーを最低1つ（1の欄）入力してください</p>
          <div class="flex-none md:flex">
            <div class="m-2">
              <div class="form-control">
                <%= f.label :meal_title_first, class: "text-xl font-bold" %>
                <%= f.text_field :meal_title_first, class: "input input-bordered" %>
              </div>
              <div class="form-control">
                <%= f.label :meal_weight_first, class: "text-xl font-bold" %>
                <%= f.number_field :meal_weight_first, class: "input input-bordered" %>
              </div>
              <div class="form-control">
                <%= f.label :meal_calorie_first, class: "text-xl font-bold" %>
                <%= f.number_field :meal_calorie_first, class: "input input-bordered" %>
              </div>
            </div>
            <div class="m-2">
              <div class="form-control">
                <%= f.label :meal_title_second, class: "text-xl font-bold" %>
                <%= f.text_field :meal_title_second, class: "input input-bordered" %>
              </div>
              <div class="form-control">
                <%= f.label :meal_weight_second, class: "text-xl font-bold" %>
                <%= f.number_field :meal_weight_second, class: "input input-bordered" %>
              </div>
              <div class="form-control">
                <%= f.label :meal_calorie_second, class: "text-xl font-bold" %>
                <%= f.number_field :meal_calorie_second, class: "input input-bordered" %>
              </div>
            </div>
            <div class="m-2">
              <div class="form-control">
                <%= f.label :meal_title_third, class: "text-xl font-bold"%>
                <%= f.text_field :meal_title_third, class: "input input-bordered" %>
              </div>
              <div class="form-control">
                <%= f.label :meal_weight_third, class: "text-xl font-bold" %>
                <%= f.number_field :meal_weight_third, class: "input input-bordered" %>
              </div>
              <div class="form-control">
                <%= f.label :meal_calorie_third, class: "text-xl font-bold" %>
                <%= f.number_field :meal_calorie_third, class: "input input-bordered" %>
              </div>
            </div>
          </div>
        </div>

        <%= f.label :meal_memo, class: "text-xl pt-4 font-bold" %>
        <%= f.text_area :meal_memo, class: "textarea textarea-bordered" %>

        <%= f.label :meal_images, class: "text-xl pt-4 font-bold" %>
        <%= f.file_field :meal_images, class: "input input-bordered", multiple: true %>

        <%= f.submit '投稿する', class: "btn btn-primary my-4"%>
      </div>
    <% end %>
  </div>
</div>
