<% assign_meta_tags title: (t '.title') %>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <div class="text-center my-4">
      <h1 class="text-5xl font-bold"><%= t '.title' %></h1>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <%= form_with url: login_path, local: true do |f| %>
          <div class="form-control my-2">
            <%= f.label :email, User.human_attribute_name(:email) %>
            <%= f.text_field :email, class: 'input input-bordered' %>
          </div>
          <div class="form-control my-2">
            <%= f.label :password, User.human_attribute_name(:password) %>
            <%= f.password_field :password, class: 'input input-bordered' %>
          </div>
          <div class="form-control my-4">
            <%= f.submit (t 'defaults.login'), class: 'btn btn-primary' %>
          </div>
        <% end %>
        <div>
          <%= link_to (t '.to_register_page'), new_user_path, class: "link" %><br>
          <p>パスワードをお忘れの方は<%= link_to "こちら", new_password_reset_path, class: "link" %><p>
        </div>
      </div>
    </div>
  </div>
</div>
