<!DOCTYPE html>
<html data-theme="garden">
  <head>
    <title>BulkUpper/バルクアッパー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen">
    <% if logged_in? %>
      <%= render 'shared/header' %>
      <%= render 'shared/flash_message' %>
      <div class="main-wrapper flex">
        <%= render 'shared/sidebar' %>
        <div class="main-content container mx-auto">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= render 'shared/before_login_header' %>
      <%= render 'shared/flash_message' %>
      <%= yield %>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
